.form-create{
    padding: 20px;
    background-color: gray;
}

table {
    width: 100%;
    border: solid 1px gray;
    margin-top: 20px;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid gray;
}

th , td {
    text-align:  left;
    border: 1px solid #e2e2e2;
    padding: 5px;
    border-collapse: collapse;
    font-size: 14px;
}


.row-action{
    display: flex;
    justify-content: flex-end;
   
    /* flex-direction: row; */
}

.form_course{
    width:50%;
    margin:0 auto;
    padding: 30px;
    background-color: #e2e2e2;
}